[submodule "intercept"]
	path = intercept
	url = https://github.com/intercept/intercept.git
[submodule "sol2"]
	path = sol2
	url = git@github.com:ThePhD/sol2.git
[submodule "lua"]
	path = lua
	url = git@github.com:lua/lua.git
